
<div class="app-links">
    <a href="#"><img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="Get it on Google Play"></a>
    <a href="#"><img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="Get it from Microsoft"></a>
</div>
</div>
<footer>
<nav>
    <a href="#">Meta</a>
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Jobs</a>
    <a href="#">Help</a>
    <a href="#">API</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Top Accounts</a>
    <a href="#">Hashtags</a>
    <a href="#">Locations</a>
    <a href="#">Instagram Lite</a>
    <a href="#">Threads</a>
    <a href="#">Contact Uploading & Non-Users</a>
    <a href="#">Meta Verified</a>
</nav>
<p>English &copy; 2024 Instagram from Meta</p>
</footer>
<script src="script/signup.js"></script>
</body>
</html>